.container h1 {
    font-size: 18px;
}

.gameboard {
    height: 80vw;
    width: 80vw;
}

.btn-start {
    width: 86vw;
    left: calc(50% - 43vw);
    font-size: clamp(1em, 7vw, 6em );
    height: 70px;
    top: calc(50% - 35px);
}